<div
  *ngIf="isLoggedIn"
  class="left side-menu"
>
  <!-- ... ... ... -->
  <div class="sidebar-inner slimscrollleft">
    <div id="sidebar-menu">
      <ul>

        <li class="menu-title">Main</li>

        <li>
          <a href="" class="waves-effect" routerLink="/customers"><i class="fas fa-users d-none d-sm-inline"></i><span> Customers <span
            class="badge badge-pill badge-success float-right">02</span> </span></a>
        </li>

        <li>
          <a href="" class="waves-effect" routerLink="/contacts">
            <i class="fas fa-address-book d-none d-sm-inline"></i><span> Contacts </span>
          </a>
        </li>

        <li>
          <a href="#" class="waves-effect">
            <i class="fas fa-shopping-cart d-none d-sm-inline"></i><span> Leads </span>
          </a>
        </li>

        <li>
          <a href="#" class="waves-effect">
            <i class="fas fa-signal d-none d-sm-inline"></i><span> Reports </span>
          </a>
        </li>

      </ul>
    </div>
    <div class="clearfix"></div>
  </div> <!-- end sidebarinner -->
</div>





