<div *ngIf="isLoggedIn" class="topbar">
  <div class="topbar-left" *ngIf="!openLeft">
    <div>
      <a class="logo text-center" routerLink="/">IC<i class="fab fa-asymmetrik"></i>CRM</a>
    </div>
  </div>
  <nav class="navbar-custom">
    <ul class="list-inline float-right mb-0">
      <li class="list-inline-item dropdown notification-list">
        <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" role="button"
           aria-haspopup="false" aria-expanded="false">
          <i class="ion-ios7-bell noti-icon"></i>
          <span class="badge badge-danger noti-icon-badge"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
          <div class="dropdown-item noti-title">
            <h5>Notification (5)</h5>
          </div>
          <a class="dropdown-item notify-item active">
            <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
            <p class="notify-details"><b>Your order is placed</b>
              <small class="text-muted">Dummy text of the printing and typesetting industry.</small>
            </p>
          </a>
          <a class="dropdown-item notify-item">
            <div class="notify-icon bg-success"><i class="mdi mdi-message"></i></div>
            <p class="notify-details"><b>New Message received</b>
              <small class="text-muted">You have 87 unread messages</small>
            </p>
          </a>
          <a class="dropdown-item notify-item">
            <div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>
            <p class="notify-details"><b>Your item is shipped</b>
              <small class="text-muted">It is a long established fact that a reader will</small>
            </p>
          </a>
          <a class="dropdown-item notify-item"> View All </a>
        </div>
      </li>
      <li class="list-inline-item dropdown notification-list">
        <a class="nav-link dropdown-toggle text-light arrow-none waves-effect nav-user" data-toggle="dropdown"
           role="button" aria-haspopup="false" aria-expanded="false">
          {{ userEmail }} <i class="fas fa-caret-down"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown">
          <a class="dropdown-item cursor"><i class="dripicons-user text-muted"></i> Profile</a>
          <a class="dropdown-item cursor">
            <i class="dripicons-gear text-muted"></i> My preferences</a>
          <a class="dropdown-item cursor"><i class="dripicons-lock text-muted"></i> Lock screen</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item cursor" (click)="onLogout($event)"><i class="dripicons-exit text-muted"></i>
            Logout</a>
        </div>
      </li>
    </ul>
    <button type="button" (click)="onOpenLeft()" class="button-menu-mobile open-left waves-effect">
      <i class="ion-navicon"></i>
    </button>
    <div class="clearfix"></div>
  </nav>
</div>
