<div id="preloader">
  <div id="status">
    <div class="sk-three-bounce">
      <div class="sk-child sk-bounce1"></div>
      <div class="sk-child sk-bounce2"></div>
      <div class="sk-child sk-bounce3"></div>
    </div>
  </div>
</div>
<div [id]="!isOpenLeft ? 'wrapper' : 'container'">
  <app-topnav [isLoggedIn]="isLoggedIn" [userEmail]="userEmail"></app-topnav>
  <app-sidenav *ngIf="!isOpenLeft" [isLoggedIn]="isLoggedIn"></app-sidenav>
  <div [class]="!isOpenLeft ? 'content-page' : 'row'">
    <div [class]="!isOpenLeft ? 'content' : 'col-12'">
      <div [class]="!isOpenLeft ? 'page-content-wrapper' : ''">
        <div [class]="!isOpenLeft ? 'container-fluid' : ''">
          <flash-messages></flash-messages>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <app-footer *ngIf="!isOpenLeft" [isLoggedIn]="isLoggedIn"></app-footer>
  </div>
</div>

<div class="row mx-2 px-2" *ngIf="isOpenLeft">
  <div class="col-12 text-center bg-white">
    <p>© {{ currentYear | date:'yyyy'}} Idan Cohen</p>
  </div>
</div>


